* {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0px;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.sidebar {
    background-color: rgb(45, 175, 250);
    color: white;
    font-weight: 500;
    padding: 10px;
    width: 15vw;
    height: 97vh;
}

li {
  list-style-type: none;
  padding-bottom: 5px;
}

img.menu1 {
    filter: invert(100%);
}

.dashboard-heading {
    font-size: 1em;
    padding-bottom: 15px;
}

.menu-upper {
    font-size: 1rem;
    margin-bottom: 15px;
}

.menu2 {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: white;
    vertical-align: super;
}

.mainbar {
    border-left: 10px;
    width: 85vw;
}

.upper-part {
    padding: 0.5em 3em 0.5em 1em;
    margin-top: 0.5em;
    height: 4vh;
}

.searchbar {
    width:80%
}

#search {
    width: 80%;
}

img.rightbarimg {
    margin-top: 5px;
}

.rightbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;
}

#name {
    font-size: 10px;
    margin-top: 0.7em; 
}

.middle-part {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1.5em 0 1em;
    height: 6vh;
}

.profile {
    display: flex;
    flex-direction: row;
}

#hello, #username {
    margin: 0px 0px 0px 10px;
}

#hello {
    font-size: 8px;
    font-weight: 500;
}

#username {
    font-size: 15px;
}

button {
    background-color: rgb(45, 175, 250);
    color: white;
    width: 6vw;
    margin: 0 0.5vw;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border: 0;
    padding: 0.3em 0em;
}

.bottom-part {
    background-color: rgb(220, 230, 238);
    height: 83.5vh;
    padding-top: 1em;
}

#projects {
    font-weight: 600;
    padding: 0em 0em 0em 1.5em;
    width: 60%;
    height: 1%;
}

.bottom-container {
    display: flex;
    justify-content: space-between;
    padding-top: 0.5em;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 55vw;
    height: 82vh;
}

.projectbox {
    display: flex;
    flex-direction: column;
    width: 45.5%;
    height: 26%;
    margin-left: 1.5em;
    box-sizing: border-box;
    padding: 1em 1.5em;
    background: linear-gradient(to right, orange 3%, white 0%);
    border-radius: 5%;
}

.project-title {
    font-weight: 600;
}

.project-text {
    margin-top: 0;
    font-size: 12px;
    height: 80px;
}

.icon {
    display: flex;
    justify-content: end;
    height: 10px;
}

.announcements-trending {
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 100vh;
}

.announcement, .trending {
    width: 85%;
    height: 32.5%;
    box-sizing: border-box;
    padding: 1em;
    margin-top: 1.5em;
    background-color: white;
    margin-bottom: 1.5em;
    border-radius: 5%;
}

#announcements, #trendings {
    font-weight: 600;
    padding: 0em 0em 0em 0em;
    height: 1%
}

.announcement-title {
    font-weight: 500;
    font-size: 11px;
}

.announcement-text {
    font-size: 10px;
    margin: 0 0 1.5em 0;
}

.boxs2 {
    border-top: solid rgba(0, 0, 0, 0.1);
    border-bottom: solid rgba(0, 0, 0, 0.1);
}

.trending-list {
    display: flex;
    height: 5vh;
    margin-bottom: 1em;
}

.name, .status {
    margin: 0 1em;
    font-size: 12px;
}